@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base{
  @font-face {
    font-family: 'Source Han Sans CN Medium';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/SourceNormal.otf) format('opentype');
  }
}